@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Pridi:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inconsolata', monospace;
    background-color: #111320;
}

/* comienza el header */

header {
    padding-top: 2rem;
    background-color: rgba(17, 19, 32, 0.9);
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 85vw;
    margin: 0 auto;
    animation: invisible 2s linear;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 0.2rem 0.8rem;
    margin-left: 0.5rem;
}

:root {
    --heroLenguajesHeight: 2.5rem;
    --heroLenguajesPadding: 0.7rem;
    --heroLenguajesTop: 22%;
    --heroLenguajesRight: 10%;

    --section2HeightIcons: 4.5rem;
}

nav a:focus {
    border-bottom: 0.2rem solid #D76627;
}

nav a:hover {
    border-bottom: 0.2rem solid #D76627;
    color: #61DAFB;
}

.headerDivEmail:hover {
    box-shadow: 0.1rem 0.1rem 0.8rem #D76627;
}

.headerDivEmail:hover p {
    color: #61DAFB;
}

.burbuja:hover,
.burbujaFooter:hover {
    box-shadow: inset 0 -0.3rem 0.8rem #0772BB;
}

.burbujaFooterWapp:hover {
    box-shadow: inset 0 -0.3rem 0.8rem #0EA991;
}

.heroDivDerecha button:hover,
.divBtnFormulario button:hover {
    background-color: #ffffffab;
    color: #D76627;
    box-shadow: 0.1rem 0.1rem 0.8rem #ffffff34;
}

.heroDivDerecha button:hover i,
.divBtnFormulario button:hover {
    color: #D76627;
}


.cuadroUnoSection2:hover span {
    text-shadow: 0 0 0.5rem #61DAFB;
}

.cuadroDosSection2:hover span {
    text-shadow: 0 0 0.5rem #61DAFB;
}

.bordeBottom:focus,
.bordeBottom:hover {
    box-shadow: 0 0.8rem 0.8rem -0.8rem #00c8ffbd;
}

.bordeTodo:focus,
.bordeTodo:hover {
    box-shadow: 0 0 0.8rem #00c8ffbd;
}

.divBack:hover a {
    text-shadow: 0 -4rem 0 #D76627;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bordePrueba {
    border: 1px solid #fff;
}



.logo {
    height: 2rem;
    width: 2rem;
    font-family: 'Pridi', serif;
    padding: 0.2rem;
    text-align: center;
    border: 0.15rem solid transparent;
    background: linear-gradient(#111320, #111320)padding-box, linear-gradient(135deg, #61DAFB, #111320) border-box;
    border-radius: 5rem;
}

.logo span {
    background: linear-gradient(20deg, rgb(215, 102, 39), rgba(215, 102, 39, 0.1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navABorde {
    border-bottom: 0.2rem solid #D76627;
}

.alinear {
    display: flex;
    align-items: center;
}

.linkEdin {
    height: 1rem;
    width: 1rem;
    background-image: url(./imgs/icons8-linkedin.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
}

.github {
    font-size: 1rem;
    color: #fff;
    margin-left: 1.5rem;
}

.headerDivEmail {
    height: 2.5rem;
    border: 0.1rem solid #d76527dc;
    border-radius: 0.3rem;
    margin-left: 1rem;
    padding: 0.1rem 1.5rem;
    background-color: #111320;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerDivEmail p {
    color: #fff;
}

.headerDivEmail button {
    color: #61DAFB;
    background-color: transparent;
}

.linkEmail {
    margin-left: 1rem;
}

.linkEmail i {
    background: linear-gradient(20deg, #00C9FF, #00C9FF, #00C9FF, #00546b, #00546b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
}

.burbuja {
    border: 0.12rem solid rgba(97, 218, 251, 0.2);
    border-radius: 50%;
    box-shadow: inset 0 -0.3rem 0.8rem rgba(97, 218, 251, 0.3);
    padding: 0.7rem;
}

nav a,
.burbuja,
.headerDivEmail,
.headerDivEmail p,
.heroDivDerecha button,
.heroDivDerecha button i,
.cuadroUnoSection2 span,
.cuadroDosSection2 span,
.divBtnFormulario button,
.bordeBottom,
.bordeTodo,
.burbujaFooterWapp,
.burbujaFooter,
.divBack a {
    transition: all 0.3s ease-in-out;
}

.menuIcon {
    display: none;
}

/* comienza el hero */

.hero {
    border-bottom: 0.2rem solid #D76627;
    margin-top: 6rem;
}

.divHero {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.heroMiNombre {
    align-self: flex-end;
    margin-bottom: 17vh;
    animation: invisible 2s linear;
}

.heroMiNombre h2 {
    font-size: 2.2rem;
    font-weight: 48;
}

.fuenteBlanca {
    color: #fff;
}

.heroMiNombre h1 {
    font-size: 3rem;
    font-weight: bold;
}


.heroDivDerecha {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.heroCode {
    font-size: 4.5rem;
    font-weight: bold;
}

.fuenteNaranja {
    color: #D76627;
}

.fuenteCeleste {
    color: #61DAFB;
}

.heroDivDerecha button {
    height: 2.3rem;
    width: 6rem;
    background-color: #D76627;
    color: #fff;
    border: 0.12rem solid #fff;
    outline: none;
    box-shadow: none;
    border-radius: 0.25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 0.8rem;
    font-family: 'Pridi', serif;
}

.heroDivDerecha i {
    color: #fff;
}

.marginBtm {
    margin-bottom: 1rem;
}

.divHeroImagenes {
    display: flex;
}

.divHeroProgramador {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    position: relative;
    animation: invisible 2s linear;
    object-fit: fill;
}

.programador {
    height: 85vh;
    position: relative;
    z-index: -5;
    margin: 0 auto;
    object-fit: cover;
}

.circuloHero {
    height: 80%;
    width: 78%;
    background-color: #111320;
    border: 2rem solid #D76627;
    border-radius: 50%;
    position: absolute;
    z-index: -10;
    left: 50%;
    transform: translateX(-50%);
    animation: border-flicker 2.5s linear infinite;
}

.heroNodeJs,
.heroJS,
.heroReact {
    position: absolute;
    background-color: #1E2235;
    border-radius: 50%;
    padding: var(--heroLenguajesPadding);
    height: var(--heroLenguajesHeight);
}

.heroNodeJs {
    top: var(--heroLenguajesTop);
    right: calc(var(--heroLenguajesRight)*0.7);
}

.heroJS {
    top: calc(var(--heroLenguajesTop)*2);
    right: calc(var(--heroLenguajesRight)*0);
    padding: calc(var(--heroLenguajesPadding)*1.5);
    height: calc(var(--heroLenguajesHeight)*1.5);
}

.heroReact {
    padding: calc(var(--heroLenguajesPadding)*3);
    height: calc(var(--heroLenguajesHeight)*2);
}

/* comienza section 2 */

.section2 {
    background-color: #111320;
    min-height: 90vh;
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
}

.section2 h2,
.section3 h2 {
    margin-top: 5rem;
}

.section2 h2,
.section3 h2,
.section4 h2 {
    color: #61DAFB;
    font-weight: 48;
    font-size: 2.3rem;
}

.section2 h2 span,
.section3 h2 span,
.section4 h2 span {
    color: #FFF;
    font-size: 2.2rem;
}

.divSection2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.divSection2 h3 {
    color: #D76627;
    font-size: 2rem;
}

.divSection2 span {
    color: #61DAFB;
}

.section2ImgUno {
    height: calc(var(--section2HeightIcons)*1.4);
}

.section2ImgDos {
    height: calc(var(--section2HeightIcons)*1.6);
}

.section2ImgTres {
    height: var(--section2HeightIcons);
}

.divSection2 p {
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    line-height: 2rem;
}

.centradoSection2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cuadroUnoSection2 {
    border: 0.15rem solid #61DAFB;
    border-radius: 1rem;
    height: 17rem;
    width: 18rem;
    padding: 0 1rem 0 1rem;
    animation: cuadroCeleste 2.5s linear infinite;
}

.cuadroDosSection2 {
    border: 0.15rem solid #D76627;
    border-radius: 1rem;
    height: 22rem;
    width: 21rem;
    padding: 0 1rem 0 1rem;
    animation: cuadroNaranja 2.5s linear infinite;
}

/* cominza section 3*/

.section3 {
    min-height: 90vh;
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section3 h2 {
    margin-bottom: 5rem;
}

.containerFlexSection3 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 0.5rem;
}

.containerGridSection3 {
    min-height: 60%;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-auto-rows: 5rem;
    grid-gap: 4.3rem 2rem;
}

.cuadradosSection3 {
    height: 6rem;
    background-color: #1E2235;
    border-radius: 0.5rem;
    padding: 1.2rem;
    align-items: center;
    box-shadow: 0.4rem 0.4rem 0.2rem #0D0E1A;
}

/* comienza el section 4 */

.section4 {
    min-height: 100vh;
    width: 85vw;
    margin: 0 auto;
}

.section4 h2 {
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.timeLine {
    display: grid;
    grid-template-columns: 1fr 0.2rem 1fr;
    min-height: 100vh;
    grid-gap: 0 7rem;
}

.timeLineComponent {
    height: 20rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.componentLeft {
    margin-left: 5rem;
}

.anioContainerRight {
    width: 100%;
    display: flex;
}

.anioContainerLeft {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.anioUno {
    clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

.anioDos {
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 15% 100%, 0 50%, 15% 0);
}

.anioContainerRight,
.section4H3,
.letraMaquinaEscribir {
    margin-bottom: 1rem;
}

.anio {
    height: 1.3rem;
    width: 4rem;
    background-color: #F17128;
    color: #fff;
    font-weight: 80;
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiuloCelesteSection4 {
    color: #61DAFB;
    font-size: 1.5rem;
    font-weight: 38;
}

.tituloBlancoSection4 {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 38;
}

.blancoResponabilidades {
    color: #A7A8AD;
    font-size: 1.2rem;
    font-weight: 15;
    letter-spacing: 0.1rem;
}

.letraMaquinaEscribir {
    font-family: 'Pridi', serif;
}

.timeLineComponent ul {
    margin-left: 1rem;
    color: #E4E4E6;
    font-size: 1.2rem;
    font-weight: 15;
    letter-spacing: 0.1rem;
}

.timeLineMiddle {
    position: relative;
    background-color: #F17128;
}

.timeLinePoint {
    margin-top: 2rem;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    background-color: #111320;
    border: 0.2rem solid #F17128;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

/* comienza el footer */

footer {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

footer section {
    min-height: 80vh;
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer section h1 {
    color: #D76627;
    font-size: 3.3rem;
}

footer section h1 span {
    color: #fff;
}

.formulario {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bordeBottom,
.bordeTodo {
    background-color: #111320;
    color: #A7A8AD;
    border: none;
    font-family: 'Pridi', serif;
    font-size: 1.2rem;
    font-weight: 15;
    letter-spacing: 0.1rem;
    width: 30vw;
    padding: 0.5rem 0.5rem 0.3rem 0.6rem;
    outline: none;
}


.bordeBottom {
    border-bottom: 0.15rem solid transparent;
    background: linear-gradient(#111320, #111320)padding-box, linear-gradient(45deg, #00c8ffbd, #00c8ffb6, #00c8ffbd, #00c8ffb6) border-box;
}

.bordeTodo {
    padding-top: 1rem;
    padding-bottom: 20vh;
    border: 0.15rem solid transparent;
    border-radius: 0.2rem;
    background: linear-gradient(#111320, #111320)padding-box, linear-gradient(45deg, #00c8ffbd, #00c8ffb6, #00c8ffbd, #00c8ffb6) border-box;
}

.divBtnFormulario {
    width: 100%;
    display: flex;
    justify-content: end;
}

.divBtnFormulario button {
    height: 2.5rem;
    width: 7rem;
    background-color: #D76627;
    color: #fff;
    border: 0.12rem solid #fff;
    outline: none;
    border-radius: 0.25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.9rem;
    font-family: 'Pridi', serif;
    letter-spacing: 0.01rem;
}

.orUno {
    color: #fff;
    font-size: 2.3rem;
    font-weight: 48;
    margin-top: 3rem;
}

.orDos {
    color: #D76627;
    font-size: 2.4rem;
    font-weight: 48;
}

.orUno,
.orDos {
    margin-bottom: 1rem;
}

.orDos span {
    color: #fff;
}

.divBurbujasFooter {
    width: 19%;
    display: flex;
    justify-content: space-evenly;
}

.burbujaFooterWapp {
    border: 0.12rem solid rgba(14, 169, 145, 0.2);
    border-radius: 50%;
    box-shadow: inset 0 -0.3rem 0.8rem rgba(14, 169, 145, 0.3);
    padding: 0.9rem;
    color: #1BCD6B;
    font-size: 1.9rem;
}

.burbujaFooter {
    border: 0.12rem solid rgba(97, 218, 251, 0.2);
    border-radius: 50%;
    box-shadow: inset 0 -0.3rem 0.8rem rgba(97, 218, 251, 0.3);
    padding: 0.9rem;
    color: #61DAFC;
    font-size: 1.9rem;
}

.divBack {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 1rem;
}

.subDivBack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divBack img {
    height: 2rem;
}

.divBack a {
    color: #D76627;
    text-decoration: none;
    border-bottom: 0.1rem solid #D76627;
}

.circuloFooterUno {
    position: absolute;
    height: 50rem;
    width: 50rem;
    border: 2rem solid #1E2235;
    border-radius: 50%;
    z-index: -10;
    left: -35%;
}

.circuloFooterDos {
    position: absolute;
    height: 50rem;
    width: 50rem;
    border: 2rem solid #1E2235;
    border-radius: 50%;
    z-index: -10;
    left: 72%;
    top: 40%;
}

/* comienza animaciones */

@keyframes invisible {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.1;
    }

    25% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.7;
    }

    80% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.73);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.73);
        box-shadow: 0 -1.5rem 10rem #d865286c;
    }

    2% {
        opacity: 1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.73);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.73);
        box-shadow: 0 -1.5rem 10rem #d865286c;
    }

    4% {
        opacity: 0.1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.73);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.73);
        box-shadow: 0 -1.5rem 10rem #d865286c;
    }

    8% {
        opacity: 1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.73);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.73);
        box-shadow: 0 -1.5rem 10rem #d865286c;
    }

    70% {
        opacity: 0.7;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.73);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.73);
        box-shadow: 0 -1.5rem 10rem #d865286c;
    }

    100% {
        opacity: 1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.73);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.73);
        box-shadow: 0 -1.5rem 10rem #d865286c;
    }
}


@keyframes cuadroCeleste {
    0% {
        opacity: 0.1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(97, 218, 251, 0.5);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(97, 218, 251, 0.5);
        box-shadow: 0 0 1rem #61DAFB;
    }

    2% {
        opacity: 1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(97, 218, 251, 0.5);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(97, 218, 251, 0.5);
        box-shadow: 0 0 1rem #61DAFB;
    }

    4% {
        opacity: 0.1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(97, 218, 251, 0.5);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(97, 218, 251, 0.5);
        box-shadow: 0 0 1rem #61DAFB;
    }

    8% {
        opacity: 1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(97, 218, 251, 0.5);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(97, 218, 251, 0.5);
        box-shadow: 0 0 1rem #61DAFB;
    }

    70% {
        opacity: 0.7;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(97, 218, 251, 0.5);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(97, 218, 251, 0.5);
        box-shadow: 0 0 1rem #61DAFB;
    }

    100% {
        opacity: 0.99;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(97, 218, 251, 0.5);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(97, 218, 251, 0.5);
        box-shadow: 0 0 1rem #61DAFB;
    }
}

@keyframes cuadroNaranja {
    0% {
        opacity: 0.1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(215, 102, 39, 0.5);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(215, 102, 39, 0.5);
        box-shadow: 0 0 1rem #D76627;
    }

    2% {
        opacity: 1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(215, 102, 39, 0.5);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(215, 102, 39, 0.5);
        box-shadow: 0 0 1rem #D76627;
    }

    4% {
        opacity: 0.1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(215, 102, 39, 0.5);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(215, 102, 39, 0.5);
        box-shadow: 0 0 1rem #D76627;
    }

    8% {
        opacity: 1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(215, 102, 39, 0.5);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(215, 102, 39, 0.5);
        box-shadow: 0 0 1rem #D76627;
    }

    70% {
        opacity: 0.7;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(215, 102, 39, 0.5);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(215, 102, 39, 0.5);
        box-shadow: 0 0 1rem #D76627;
    }

    100% {
        opacity: 0.99;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(215, 102, 39, 0.5);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(215, 102, 39, 0.5);
        box-shadow: 0 0 1rem #D76627;
    }
}


/* comienza media */

@media screen and (max-width:767px) {
    body {
        width: 100vw;
    }

    /* header */

    header {
        justify-content: space-between;
        width: 85vw;
        margin: 0 auto;
    }

    .ocultarPhone {
        display: none;
    }

    .menuIcon {
        display: flex;
        font-size: 2.5rem;
        color: #fff;
    }

    /* hero */

    .divHero {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 85vw;
        margin: 0 auto;
    }

    .heroMiNombre {
        width: 90%;
        margin: 0 auto;
    }


    .heroDivDerecha button {
        align-self: center;
        font-size: 150%;
        height: 8vh;
        width: 50%;
    }

    .divHeroProgramador{
        margin: 0 1.5rem 0 1.5rem;
    }

    .programador {
        height: 50vh;
        width: 90%;
    }

    .heroNodeJs,
    .heroJS,
    .heroReact {
        position: absolute;
        background-color: #1E2235;
        border-radius: 50%;
        padding: calc(var(--heroLenguajesPadding)*0.5);
        height: calc(var(--heroLenguajesHeight)*0.5);
    }

    .heroNodeJs {
        top: calc(var(--heroLenguajesTop)/1.3);
        right: calc(var(--heroLenguajesRight)*0.9);
    }

    .heroJS {
        top: calc(var(--heroLenguajesTop)*1.8);
        right: calc(var(--heroLenguajesRight)*-0.9);
        padding: calc(var(--heroLenguajesPadding)*0.9);
        height: calc(var(--heroLenguajesHeight)*0.9);
    }

    .heroReact {
        padding: calc(var(--heroLenguajesPadding)*1.4);
        height: calc(var(--heroLenguajesHeight)*1.4);
        margin-bottom: 0.2rem;
    }

    .circuloHero {
        height: 80%;
        width: 100%;
        border-width: 1.2rem;
    }
}
