@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Pridi:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inconsolata', monospace;
    background-color: #111320;
}

:root {
    --heroLenguajesHeight: 2.5rem;
    --heroLenguajesPadding: 0.7rem;
    --heroLenguajesTop: 22%;
    --heroLenguajesRight: 10%;

    --section2HeightIcons: 4.5rem;
}


/* comienza el header */

/* comienza el hero */

/* comienza section 2 */

.flecha1Section2,
.flecha2Section2 {
    display: none;
}

.section4 h2 {
    color: #61DAFB;
    font-weight: 48;
    font-size: 2.3rem;
}

.section4 h2 span {
    color: #FFF;
    font-size: 2.2rem;
}

/* cominza section 3*/

/* comienza el section 4 */

.section4 {
    min-height: 100vh;
    width: 85vw;
    margin: 0 auto;
}

.section4 h2 {
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.timeLine {
    display: grid;
    grid-template-columns: 1fr 0.2rem 1fr;
    min-height: 100vh;
    grid-gap: 0 7rem;
}

.timeLineComponent {
    height: 20rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.componentLeft {
    margin-left: 5rem;
}

.anioContainerRight {
    width: 100%;
    display: flex;
}

.anioContainerLeft {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.anioUno {
    clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

.anioDos {
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 15% 100%, 0 50%, 15% 0);
}

.anioContainerRight,
.section4H3,
.letraMaquinaEscribir {
    margin-bottom: 1rem;
}

.anio {
    height: 1.3rem;
    width: 4rem;
    background-color: #F17128;
    color: #fff;
    font-weight: 80;
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiuloCelesteSection4 {
    color: #61DAFB;
    font-size: 1.5rem;
    font-weight: 38;
}

.tituloBlancoSection4 {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 38;
}

.blancoResponabilidades {
    color: #A7A8AD;
    font-size: 1.2rem;
    font-weight: 15;
    letter-spacing: 0.1rem;
}

.letraMaquinaEscribir {
    font-family: 'Pridi', serif;
}

.timeLineComponent ul {
    margin-left: 1rem;
    color: #E4E4E6;
    font-size: 1.2rem;
    font-weight: 15;
    letter-spacing: 0.1rem;
}

.timeLineMiddle {
    position: relative;
    background-color: #F17128;
}

.timeLinePoint {
    margin-top: 2rem;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    background-color: #111320;
    border: 0.2rem solid #F17128;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

/* comienza el footer */

footer {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

footer section {
    min-height: 80vh;
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer section h1 {
    color: #D76627;
    font-size: 3.3rem;
}

footer section h1 span {
    color: #fff;
}

.formulario {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bordeBottom,
.bordeTodo {
    background-color: #111320;
    color: #A7A8AD;
    border: none;
    font-family: 'Pridi', serif;
    font-size: 1.2rem;
    font-weight: 15;
    letter-spacing: 0.1rem;
    width: 30vw;
    padding: 0.5rem 0.5rem 0.3rem 0.6rem;
    outline: none;
}


.bordeBottom {
    border-bottom: 0.15rem solid transparent;
    background: linear-gradient(#111320, #111320)padding-box, linear-gradient(45deg, #00c8ffbd, #00c8ffb6, #00c8ffbd, #00c8ffb6) border-box;
}

.bordeTodo {
    padding-top: 1rem;
    padding-bottom: 20vh;
    border: 0.15rem solid transparent;
    border-radius: 0.5rem;
    background: linear-gradient(#111320, #111320)padding-box, linear-gradient(45deg, #00c8ffbd, #00c8ffb6, #00c8ffbd, #00c8ffb6) border-box;
}

.divBtnFormulario {
    width: 100%;
    display: flex;
    justify-content: end;
}

.divBtnFormulario button {
    height: 2.5rem;
    width: 7rem;
    background-color: #D76627;
    color: #fff;
    border: 0.12rem solid #fff;
    outline: none;
    border-radius: 0.25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.9rem;
    font-family: 'Pridi', serif;
    letter-spacing: 0.01rem;
}

.bordeBottom:focus,
.bordeBottom:hover {
    box-shadow: 0 0.8rem 0.8rem -0.8rem #00c8ffbd;
}

.divBtnFormulario button:hover {
    background-color: #ffffffab;
    color: #D76627;
    box-shadow: 0.1rem 0.1rem 0.8rem #ffffff34;
}

.orUno {
    color: #fff;
    font-size: 2.3rem;
    font-weight: 48;
    margin-top: 3rem;
}

.orDos {
    color: #D76627;
    font-size: 2.4rem;
    font-weight: 48;
}

.orUno,
.orDos {
    margin-bottom: 1rem;
}

.orDos span {
    color: #fff;
}

.divBurbujasFooter {
    width: 19%;
    display: flex;
    justify-content: space-evenly;
}

.burbujaFooter {
    border: 0.12rem solid rgba(97, 218, 251, 0.2);
    border-radius: 50%;
    box-shadow: inset 0 -0.3rem 0.8rem rgba(97, 218, 251, 0.3);
    padding: 0.9rem;
    color: #61DAFC;
    font-size: 1.9rem;
}

.divBack {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 1rem;
}

.subDivBack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divBack img {
    height: 2rem;
}

.divBack a {
    color: #D76627;
    text-decoration: none;
    border-bottom: 0.1rem solid #D76627;
}

.circuloFooterUno {
    position: absolute;
    height: 50rem;
    width: 50rem;
    border: 2rem solid #1E2235;
    border-radius: 50%;
    z-index: -10;
    left: -35%;
}

.circuloFooterDos {
    position: absolute;
    height: 50rem;
    width: 50rem;
    border: 2rem solid #1E2235;
    border-radius: 50%;
    z-index: -10;
    left: 72%;
    top: 40%;
}


.burbujaFooterWapp {
    border: 0.12rem solid rgba(14, 169, 145, 0.2);
    border-radius: 50%;
    box-shadow: inset 0 -0.3rem 0.8rem rgba(14, 169, 145, 0.3);
    padding: 0.9rem;
    color: #1BCD6B;
    font-size: 1.9rem;
}

.bordeTodo:focus,
.bordeTodo:hover {
    box-shadow: 0 0 0.8rem #00c8ffbd;
}

.divBtnFormulario button,
.bordeBottom,
.burbujaFooterWapp,
.bordeTodo,
.burbujaFooter,
.divBack a {
    transition: all 0.3s ease-in-out;
}

.burbujaFooter:hover {
    box-shadow: inset 0 -0.3rem 0.8rem #0772BB;
}


.burbujaFooterWapp:hover {
    box-shadow: inset 0 -0.3rem 0.8rem #0EA991;
}

/* comienza animaciones */

@keyframes invisible {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.1;
    }

    25% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.7;
    }

    80% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.9);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.9);
        box-shadow: 0 -1.5rem 10rem #d865286c;
    }

    2% {
        opacity: 1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.9);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.9);
        box-shadow: 0 -1.5rem 10rem #d865286c;
    }

    4% {
        opacity: 0.1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.9);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.9);
        box-shadow: 0 -1.5rem 10rem #d66427e6;
    }

    8% {
        opacity: 1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.9);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.9);
        box-shadow: 0 -1.5rem 10rem #d66427e6;
    }

    70% {
        opacity: 0.7;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.9);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.9);
        box-shadow: 0 -1.5rem 10rem #d66427e6;
    }

    100% {
        opacity: 1;
        -webkit-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.73);
        -moz-box-shadow: 0 0 2rem 0.4rem rgba(214, 100, 39, 0.73);
        box-shadow: 0 -1.5rem 10rem #d66427e6;
    }
}

/* comienza media */

@media screen and (max-width:767px) {
    body {
        width: 100vw;
    }

    /* header */

    /* hero */

    /* comienza section2 */

    /* comienza section3 */

    /* comienza section4 */

    .timeLine {
        height: 120vh;
        grid-template-columns: 0.2rem 1fr;
        min-height: 70vh;
        grid-gap: 0 3rem;
        grid-template-areas:
            "line event1"
            "line2 event2"
            "line3 event3";
    }

    .linea {
        grid-area: line;
    }

    .lineaDos {
        grid-area: line2;
    }

    .lineaTres {
        grid-area: line3;
    }

    .event1 {
        grid-area: event1;
    }

    .event2 {
        grid-area: event2;
    }

    .event3 {
        grid-area: event3;
    }

    .vacio {
        grid-area: event0;
    }

    .timeLineComponent h3 {
        font-size: 1.5rem;
    }


    .componentLeft {
        margin-left: 0;
    }

    .anioContainerLeft {
        justify-content: flex-start;
    }

    .letraMaquinaEscribir,
    .letraMaquinaEscribir li {
        font-size: 0.9rem;
    }

    /* comienza el footer */

    footer section h1 {
        font-size: 2rem;
        text-align: center;
    }

    footer section h2 {
        text-align: center;
    }

    .bordeBottom,
    .bordeTodo {
        font-size: 1.2rem;
        width: 100%;
    }

    .bordeTodo {
        padding-bottom: 40%;
    }

    .divBtnFormulario {
        justify-content: center;
    }

    .divBtnFormulario button {
        width: 100%;
    }

    .orUno {
        font-size: 1.8rem;
        margin-top: 5rem;
    }

    .orDos {
        font-size: 1.5rem;
    }

    .divBurbujasFooter {
        width: 70%;
        margin-bottom: 1rem;
    }

    .circuloFooterDos {
        height: 50rem;
        width: 50rem;
        border: 1.5rem solid #1E2235;
        border-radius: 50%;
        z-index: -10;
        left: 50%;
        top: 76%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    /* header */

    /* hero */

    /* comienza section2 */
    /* comienza section3 */

    /* comienza section4 */

    .timeLine {
        height: 120vh;
        grid-template-columns: 0.2rem 1fr;
        min-height: 70vh;
        grid-gap: 0 3rem;
        grid-template-areas:
            "line event1"
            "line2 event2"
            "line3 event3";
    }

    .linea {
        grid-area: line;
    }

    .lineaDos {
        grid-area: line2;
    }

    .lineaTres {
        grid-area: line3;
    }

    .event1 {
        grid-area: event1;
    }

    .event2 {
        grid-area: event2;
    }

    .event3 {
        grid-area: event3;
    }

    .vacio {
        grid-area: event0;
    }

    .timeLineComponent h3 {
        font-size: 1.8rem;
    }


    .componentLeft {
        margin-left: 0;
    }

    .anioContainerLeft {
        justify-content: flex-start;
    }

    .letraMaquinaEscribir,
    .letraMaquinaEscribir li {
        font-size: 1.2rem;
    }

    /* comienza el footer */

    footer section h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    footer section h2 {
        text-align: center;
    }

    .bordeBottom,
    .bordeTodo {
        font-size: 1.45rem;
        width: 60vw;
    }

    .bordeTodo {
        padding-bottom: 40%;
    }

    .divBtnFormulario {
        justify-content: center;
    }

    .divBtnFormulario button {
        width: 10rem;
    }

    .orUno {
        font-size: 2rem;
        margin-top: 7rem;
    }

    .orDos {
        font-size: 1.7rem;
    }

    .divBurbujasFooter {
        width: 30%;
        margin-bottom: 1rem;
    }

    .circuloFooterDos {
        height: 50rem;
        width: 50rem;
        border: 1.5rem solid #1E2235;
        border-radius: 50%;
        z-index: -10;
        left: 50%;
        top: 76%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width:1024px) and (max-width:1440px) {
    /* hero */
}

@media screen and (min-width:1441px) and (max-width:1920px) {
    /* header */

    header nav {
        font-size: 1.5rem;
        margin-left: 1.2rem;
    }

    .divHeaderIcons {
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .headerIcons {
        margin-left: auto;
    }

    /* hero */

    /* section2 */

    .section4 h2,
    .section4 h2 span {
        font-size: 3rem;
    }
    /* section3 */
    /* section4 */
    .anioContainerRight p,
    .anioContainerLeft p {
        font-size: 1.5rem;
        width: 6rem;
        height: 2rem;
    }

    .timeLineComponent h3,
    .timeLineComponent h3 span {
        font-size: 2.2rem;
        font-weight: bold;
    }

    .timeLineComponent p {
        font-size: 1.8rem;
    }

    .timeLineComponent ul li {
        margin-left: 0.9rem;
        font-size: 1.8rem;
        line-height: unset;
        font-weight: 15;
    }

    /* footer */

    footer {
        margin-top: 7rem;
    }

    footer section h1 {
        font-size: 4.5rem;
        margin-bottom: 2rem;
    }

    .bordeBottom,
    .bordeTodo {
        font-size: 1.2rem;
        width: 30vw;
    }

    .bordeTodo input,
    .bordeBottom input {
        font-size: 1.2rem;
        border-bottom-width: 0.2rem;
    }

    .divBtnFormulario {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .divBtnFormulario button {
        width: 20%;
        height: 3.5rem;
        font-size: 1.1rem;
    }

    .orUno {
        font-size: 3.5rem;
    }

    .orDos {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .burbujaFooter {
        padding: 1.5rem;
        font-size: 3rem;
    }

    .divBack img {
        height: 3rem;
    }

    .divBack a {
        font-size: 1.5rem;
    }

    .circuloFooterUno {
        height: 90rem;
        width: 90rem;
        border-width: 3.3rem;
        left: -55%;
    }

    .circuloFooterDos {
        height: 90rem;
        width: 90rem;
        border-width: 3.3rem;
    }

    .burbujaFooterWapp {
        padding: 1.5rem;
        font-size: 3rem;
    }
}