.section4 h2 {
     color: #61DAFB;
     font-weight: 48;
     font-size: 2.3rem;
     text-align: center;
     margin-top: 7rem;
     margin-bottom: 5rem;
}

.section4 h2 span {
     color: #FFF;
     font-size: 2.2rem;
}

@media screen and (max-width:767px) {}

@media screen and (min-width:768px) and (max-width:1023px) {}

@media screen and (min-width:1024px) and (max-width:1440px) {}

@media screen and (min-width:1041px) and (max-width:1920px) {

     .section4 h2,
     .section4 h2 span {
          font-size: 3rem;
     }
}