.logo {
     height: 2rem;
     width: 2rem;
     font-family: 'Pridi', serif;
     padding: 0.2rem;
     text-align: center;
     border: 0.15rem solid transparent;
     background: linear-gradient(#111320, #111320)padding-box, linear-gradient(135deg, #61DAFB, #111320) border-box;
     border-radius: 5rem;
}

.logo span {
     background: linear-gradient(20deg, rgb(215, 102, 39), rgba(215, 102, 39, 0.1));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}


@media screen and (min-width:1441px) and (max-width:1920px) {

     .logo {
          height: 2.5rem;
          width: 2.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
     }
}