header {
     padding-top: 2rem;
     justify-content: space-between;
     position: sticky;
     top: 0;
     z-index: 10;
     width: 85vw;
     margin: 0 auto;
     animation: invisible 2s linear;
}

.row {
     display: flex;
     flex-direction: row;
     align-items: center;
}

@media screen and (max-width:767px) {

     header {
          justify-content: space-between;
          width: 85vw;
          margin: 0 auto;
     }
}

@media screen and (min-width:768px) and (max-width:1023px) {
     header {
          justify-content: space-between;
          width: 85vw;
          margin: 0 auto;
     }
}

@media screen and (min-width:1441px) and (max-width:1920px) {
     header {
          width: 85vw;
          height: 5rem;
          font-size: 1.3rem;
     }
}