:root {
     --section2HeightIcons: 4.5rem;
}

.divSection2 {
     display: flex;
     width: 100%;
     gap: 0.5rem;
}

.divSection2 h3 {
     color: #D76627;
     font-size: 2rem;
}

.divSection2 span {
     color: #61DAFB;
}

.section2ImgUno {
     height: calc(var(--section2HeightIcons)*1.4);
}

.section2ImgDos {
     height: calc(var(--section2HeightIcons)*1.6);
}

.section2ImgTres {
     height: var(--section2HeightIcons);
}

.divSection2 p {
     color: #fff;
     font-size: 1.3rem;
     text-align: center;
     line-height: 2rem;
}

.centradoSection2 {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
}

.cuadroUnoSection2 {
     border: 0.15rem solid #61DAFB;
     border-radius: 1rem;
     height: 17rem;
     width: 0;
     padding: 0 1rem 0 1rem;
     flex-grow: 1;
     opacity: .8;
     transition: all .5s ease;
     overflow: hidden;
}

.cuadroUnoSection2 img {
     object-fit: cover;
}

.cuadroUnoSection2 span {
     transition: all 0.3s ease-in-out;
}

.cuadroUnoSection2:hover {
     cursor: pointer;
     opacity: 1;
     filter: contrast(120%);
     width: 5%;
}

.cuadroUnoSection2:hover span {
     text-shadow: 0 0 0.5rem #61DAFB;
}

@media screen and (max-width:767px) {
     .ocultoEnPhone {
          display: none;
     }

     .divSection2 {
          width: 90%;
     }

     .cuadroUnoSection2 {
          width: 13rem;
          height: 13rem;
     }

     .cuadroUnoSection2 h3 {
          font-size: 1rem;
     }

     .cuadroUnoSection2 p {
          font-size: 0.8rem;
     }

     .cuadroUnoSection2 img {
          height: calc(var(--section2HeightIcons)*0.7);
     }

     .cuadroUnoSection2:hover {
          width: 70%;
     }

}

@media screen and (min-width:768px) and (max-width:1023px) {

     .divSection2 {
          width: 90%;
     }

     .cuadroUnoSection2 {
          width: 13rem;
          height: 13rem;
     }

     .cuadroUnoSection2 h3 {
          font-size: 1rem;
     }

     .cuadroUnoSection2 p {
          font-size: 0.8rem;
     }

     .cuadroUnoSection2 img {
          height: calc(var(--section2HeightIcons)*0.7);
     }

     .cuadroUnoSection2:hover {
          width: 45%;
     }

}

@media screen and (min-width:1441px) and (max-width:1920px) {

     .cuadroUnoSection2 {
          height: 30rem;
          width: 27rem;
          border-radius: 1rem;
          border-width: 0.2rem;
     }

     .cuadroUnoSection2 h3 {
          font-size: 2.9rem;
     }

     .cuadroUnoSection2 img {
          height: 9rem;
     }

     .cuadroUnoSection2 p {
          font-size: 2.2rem;
     }

     .cuadroUnoSection2:hover {
          /* width: calc(0% + 3%); */
     }

}