.section2 h2 {
     margin-top: 5rem;
     color: #61DAFB;
     font-weight: 48;
     font-size: 2.3rem;
}

.section2 h2 span {
     color: #FFF;
     font-size: 2.2rem;
}

@media screen and (max-width:767px) {
     .section2 h2 {
          margin-bottom: 2rem;
     }
}

@media screen and (min-width:768px) and (max-width:1023px) {

     .section2 h2 {
          margin-top: 0;
     }
}


@media screen and (min-width:1441px) and (max-width:1920px) {

     .section2 h2,
     .section2 h2 span {
          font-size: 3rem;
     }
}